tqdm==4.28.1
requests==2.20.0
requests-toolbelt==0.8.0
pycodestyle
pyflakes
schedule
pysocks
pytest
responses
future
six
huepy

urllib3>=1.25.9 # not directly required, pinned by Snyk to avoid a vulnerability